extends layout.pug

block content
  include errors/validation-errors
  form(action='/books/' + book.id + '/update', method='post')
    p
      label(for='title') Title
      input#title(name='title', type='text', value= book.title)
    p
      label(for='author') Author
      input#author(name='author', type='text', value= book.author)
    p
      label(for='genre') Genre
      input#genre(name='genre', type='text', value= book.genre)
    p
      label(for='year') Year
      input#year(name='year', type='text', value= book.year)
    p
      input.update-book(type='submit', value='Update Book')
  form(action='/books/'+ book.id + '/delete', method='post', onsubmit="return confirm('Do you really want to delete this book?');")
    p.book-detail.clearfix
      a.button(href='/books/search/book-search'+ searchPath + pagePath) Cancel
    p
      input.delete(type='submit', value='Delete Book')
